nav {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 0 0 60px;
  display: flex;
  justify-content: space-between;
  height: 60px; }
  nav img {
    height: 65%;
    width: auto;
    align-self: center; }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline-block;
      padding: 0.125rem 2rem;
      text-transform: uppercase;
      font-size: 14px;
      font-family: 'GothamLight';
      letter-spacing: 1px;
      font-weight: bold; }
      nav ul li img {
        vertical-align: bottom; }

article {
  padding: 1rem 0 1rem 2rem; }
  article h3 {
    padding: 0;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: #95c11e; }
  article div {
    font-size: 1rem;
    padding-bottom: 1rem;
    line-height: 1.4rem;
    font-weight: bold; }

button {
  background-color: #95c11e;
  color: #111619;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  outline: none; }

footer ul {
  padding: 0.5rem 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 100%;
  display: flex;
  height: 50px;
  margin: 0;
  justify-content: space-between;
  list-style: none;
  align-self: flex-start; }
  footer ul img {
    height: 75%;
    width: auto;
    align-self: center; }
  footer ul li {
    display: inline-block;
    padding: 0rem 1rem 0 0;
    font-size: 14px;
    font-family: 'GothamLight';
    letter-spacing: 1px;
    font-weight: bold;
    vertical-align: top; }
    footer ul li img {
      vertical-align: bottom; }
    footer ul li p {
      vertical-align: top;
      font-size: 12px;
      padding: 0;
      margin: 0; }
    footer ul li:nth-child(5) {
      letter-spacing: 0px;
      font-size: 11px;
      display: flex;
      align-content: flex-start; }
      footer ul li:nth-child(5) img {
        height: 90%;
        width: auto;
        padding: 0 0.5rem;
        align-self: flex-start; }
      footer ul li:nth-child(5) span {
        align-self: center; }
    footer ul li:last-child {
      display: flex; }
      footer ul li:last-child img {
        height: 1rem;
        width: auto;
        align-self: center; }

@font-face {
  font-family: 'GothamBook';
  src: url("../../fonts/GothamBook.ttf"); }
@font-face {
  font-family: 'GothamLight';
  src: url("../../fonts/GothamLight.ttf"); }
@font-face {
  font-family: 'GothamMedium';
  src: url("../../fonts/GothamMedium.ttf"); }
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

body {
  background-color: #111619;
  color: #ffffff;
  font-family: "GothamLight", sans-serif !important; }

.App {
  position: relative; }

main {
  position: relative;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 10;
  width: 95%;
  height: 100%;
  min-height: 100%;
  padding: 2rem;
  margin-bottom: 80px; }
  main .content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    main .content .article-container {
      width: 800px;
      display: inline-block; }
    main .content aside {
      width: 220px;
      margin-top: 60px;
      display: inline-block;
      vertical-align: top;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px; }
      main .content aside ul {
        margin: 0;
        padding: 1rem; }
        main .content aside ul li {
          margin: 0px;
          padding: 0.35rem;
          color: #111619;
          font-family: "GothamMedium", sans-serif !important;
          list-style-type: none; }
          main .content aside ul li:nth-child(3), main .content aside ul li:nth-child(9) {
            padding-bottom: 2rem; }
          main .content aside ul li:nth-child(2):before {
            content: '\2022 ';
            /* Bullet color */
            color: #95c11e;
            padding-right: 0.5em; }

.background-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  background: linear-gradient(90deg, #111619, rgba(17, 22, 25, 0.1) 40%, rgba(17, 22, 25, 0.1) 60%, #111619 100%), linear-gradient(180deg, #111619, rgba(17, 22, 25, 0.1) 40%, rgba(17, 22, 25, 0.1) 50%, #111619 100%), url("../../img/background.png");
  width: 100%;
  height: 600px;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px); }

.text-green {
  color: #95c11e; }

.bg-green {
  background-color: #95c11e; }

.text-uppercase {
  text-transform: uppercase; }

.text-underline {
  text-decoration: underline;
  text-decoration-color: #95c11e; }

.padding-bottom {
  padding-bottom: 6rem; }

.text-center {
  text-align: center; }

.m-auto {
  margin: 0 auto; }

.text-right {
  text-align: right; }

.calculator {
  display: block;
  background-color: #ffffff;
  color: #111619;
  max-width: 100%;
  padding-bottom: 3rem;
  padding-top: 3rem; }
  .calculator .calculator-fields {
    display: flex;
    justify-content: space-around; }
    .calculator .calculator-fields .third {
      vertical-align: top;
      padding: 2rem 4rem; }
      .calculator .calculator-fields .third label {
        display: block; }
      .calculator .calculator-fields .third input {
        height: 20px; }

/*# sourceMappingURL=styles.css.map */
